html {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

a { color: inherit; }

.container {
  background-color: #F0A500;
  color: black;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  min-width: 95%;
}

.header {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.at-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.at {
  flex: 1;
  font-size: 1.25rem;
}

.border {
  flex: 2;
  height: 10px;
  width: 100%;
  background-color: black;
}

.location-section {
  border-bottom: 4px solid black;
}

.disclaimer-text {
  font-size: 1.5rem;
}

.location-text {
  font-size: 1.5rem;
}

.time-text {
  font-size: 1.75rem;
}

.headliner-section {
  border-bottom: 4px solid black;
}

.headliner-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.performer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.performer-col {
  flex: 1;
  text-decoration: none;
}

.performer-text {
  font-size: 1.8rem;
}

.left-border {
  border-left: 1px solid black;
}

.right-border {
  border-right: 1px solid black;
}

.bar-section {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 4px solid black;
  padding: 0.25rem;
}

.disclaimer {
  font-size: 1.25rem;
}

.bar-text {
  font-size: 1rem;
}

.ticket-text {
  font-size: 1rem;
  border: 4px solid black;
}

.question-text {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .container{
    padding: 1rem;
    min-width: 70%;
  }

  .header {
    font-size: 7rem;
  }

  .disclaimer-text {
    font-size: 4rem;
  }

  .location-text {
    font-size: 4rem;
  }
  
  .time-text {
    font-size: 4rem;
  }

  .headliner-text {
    font-size: 6rem;
  }

  .performer-text {
    font-size: 4rem;
  }

  .bar-text {
    font-size: 2rem;
  }

  .ticket-text {
    font-size: 2.5rem;
  }

  .question-text {
    font-size: 2rem;
  }
}